* {
    letter-spacing: 2px;
}

header .logo-container {
    left: 10px;
}

header .fa-bars {
    right: 20px;
}

header .header-dropdown-menu {
    right: 30px;
}

header .header-dropdown-menu a:nth-child(1) p {
    letter-spacing: 0px;
}

.home div:nth-child(1) a i {
    margin-left: 20px;
}