* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cairo'
}

body {
    background-color: #1B263B;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    height: 70px;
    background-color: #0D1B2A;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div img {
    height: 60px;
    width: 60px;
}

header div h2 {
    font-size: 2rem;
    font-family: 'fontawesome';
    letter-spacing: 5px;
    background: linear-gradient(90deg, #ff00f3, #0033ff, #ff0000, #0033ff, #ffff00, #ff00f3);
    background-size: 400%;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: changeIconColor 15s linear infinite;
}

.hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.hero p {
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.hero .translator-tts {
    width: 80%;
    height: 500px;
    background-color: #E0E1DD;
    border-radius: 50px;
    box-shadow:
    0 4px 10px rgba(224, 225, 221, 0.6),
    0 12px 24px rgba(224, 225, 221, 0.4);
}

.tts-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.tts-header .fa-caret-down {
    position: absolute;
    margin-right: 30px;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 15px;
    transition: transform 0.3s;
}

.tts-header .fa-caret-down:hover {
    transform: rotate(90deg);
    opacity: .9;
}

.tts-header .fa-caret-down:hover +  .ready-sentences {
    display: flex;
}

.ready-sentences {
    position: absolute;
    right: 20px;
    background-color: #415A77;
    color: #E0E1DD;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    z-index: 1001;
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    top: 290px;
    right: 100px;
    padding: 10px;
}

.ready-sentences:hover {
    display: flex;
}

.ready-sentences.hidden-sentences {
    display: none;
}

.ready-sentences button {
    background: none;
    border: none;
    color: #E0E1DD;
    padding: 2px 20px;
    text-align: right;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

.tts-header div:nth-child(3), 
.tts-header div:nth-child(5) {
    width: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tts-header div span {
    margin-left: 10px;
    font-size: 1.2rem;
}

.tts-header div img {
    width: 30px;
}

.tts-header i {
    font-size: 1.2rem;
    color: #0D1B2A;
}

.tts-main {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}

.translation, .input-area {
    width: 50%;
    height: 100%;
}

.translation {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 50px;
}

.translation .player {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.1s;
}

.player.active {
    opacity: 1;
    z-index: 10;
}

.input-area {
    display: flex;
    align-items: center;
    flex-flow: column;
    border-left: 1px black solid;
}

.input-area textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    background-color: transparent;
}

.input-area .tts-buttons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-area .tts-buttons button {
    border: none;
    outline: none;
}

.input-area .tts-buttons button.start-translating {
    width: 70%;
    height: 50px;
    background-color: #415A77;
    color: #E0E1DD;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

button.start-translating:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(0.5);
}

.input-area .tts-buttons button.mic {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #778DA9;
    cursor: pointer;
}

.input-area .tts-buttons button.mic i {
    color: #E0E1DD;
    font-size: 1.3rem;
}

.input-area .tts-buttons button:hover {
    opacity: .9;
}

/* ---------------------------------- */

@keyframes changeIconColor {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
}

/* ---------------------------------- */

@media (max-width: 900px) {
    .hero p {
        font-size: 1.7rem;
    }

    .tts-main {
        flex-direction: column-reverse;
        height: 100%;
    }

    .tts-main > div {
        width: 100%;
    }

    .tts-main .input-area {
        border-left: none;
        border-bottom: 1px black solid;
        padding: 15px;
        height: 40%;
    }

    .tts-main .translation {
        border-bottom-right-radius: 50px;
        height: 60%;
    }

    .tts-header div:nth-child(3),
    .tts-header i:nth-child(4), 
    .tts-header div:nth-child(5) {
        display: none;
    }

    .tts-header {
        border: none;
    }

    .ready-sentences {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 70%;
    }
}